
  .experience-section {
    background-color: #f8f9fa; /* Color de fondo claro */
    padding: 50px 0;
  }
  
  .experience-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .experience-section p {
    font-size: 1.2rem;
    color: #6c757d;
  }


  .media-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
  }
  
  .media-item {
    flex: 1;
    text-align: center;
  }
  
  .media-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .media-item p {
    font-size: 1rem;
    color: #7f8c8d;
  }

  .services-section {
    padding: 40px 20px; /* Aumenta el padding para más espacio */
    background-color: #f9f9f9;
  }
  
  .services-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #1a1a1a; /* Letras negras para el título */
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Aumenta el espacio entre las tarjetas */
    align-items: stretch; /* Estira las tarjetas para igualar su altura */
  }
  
  .service-card {
    width: 395px; /* Ancho mayor para hacer la tarjeta más grande */
    margin: 20px;
    background-color: #e1e3f7; /* Gris claro para las tarjetas */
    color: #1a1a1a; /* Letras negras para el contenido */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    transition: transform 0.3s ease; /* Suaviza el efecto hover */
  }
  
  .service-card:hover {
    transform: translateY(-10px); /* Eleva la tarjeta en hover */
  }
  
  .service-card img {
    margin-top: 50px;
    height: 200px;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */

    object-fit: cover;
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; Bordes redondeados solo arriba */
  }
 
  mat-card {
    background-color: #f8e1b4  ; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  mat-card-title {
    font-size: 1.9rem;
    color: #1a1a1a;
    width: 100%; /* Fija el ancho del título */
    height: 70px;  
  }
  
  mat-card-subtitle {
    color: #6b6b6b; /* Un tono gris para el subtítulo/precio */
  }
  
  mat-card-content {
    margin-top: 50px;
    margin-bottom: 20px; /* Más espacio al final del contenido */
    color: #333; /* Color ligeramente más oscuro para el contenido */
  }
  
  .mat-card-actions {
    text-align: center;
    margin-top: auto; /* Empuja los botones a la parte inferior */
  }
  
  .mat-card-actions button {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .mat-card-actions button:hover {
    background-color: #333; /* Un tono más oscuro al pasar el ratón */
  }


  

  .products-section {
    padding: 40px 20px;
    background-color: #f4f4f4;
  }
  
  .products-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #1a1a1a; /* Color negro para el título */
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .product-card {
    width: 300px;
    margin: 20px;
    background-color: #f8e1b4 ; /* Color dorado suave con !important */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  .product-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  


  .contact-section {
    padding: 40px;
    background-color: #f9f9f9;
  
    h2 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 2.5rem;
      color: #1a1a1a;
    }
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .contact-card {
    width: 300px;
    margin: 20px;
    background-color: #f0f0f0;
    color: #1a1a1a;
  
    mat-card {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  
    mat-card-title {
      color: #1a1a1a;
    }
  
    mat-card-content {
      color: #1a1a1a;
    }
    mat-card {
        background-color: #fff6e3  ; 
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
  }
