.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permite que las tarjetas se reorganicen en pantallas pequeñas */
  gap: 30px;
  margin-top: 20px;
}

.team-card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.team-card:hover {
  transform: scale(1.05); /* Efecto de agrandamiento */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

.custom-title,
.custom-subtitle {
  text-align: center;
  color: #333;
}

.custom-content p {
  text-align: center;
  color: #555;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Relación de aspecto 4:3 (75% de la altura respecto al ancho) */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin distorsión */
  border-radius: 15px 15px 0 0;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
/* Adaptar tarjetas en pantallas pequeñas */
@media (max-width: 768px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .team-card {
    width: 100%;
  }
}
