 
.carousel-item img {
  object-fit: cover; /* Mantener la imagen proporcional y cubrir todo el contenedor */
  width: 100%; /* Ajustar el ancho al tamaño de la pantalla */
  height: 100%; /* El alto se ajustará proporcionalmente */
  z-index: 1;
  position: relative;
  background-color: transparent;
}

/* Indicadores del carrusel */
.carousel-indicators [data-bs-target] {
  background-color: #000; /* Cambiar el color de los indicadores */
}

.carousel-indicators .active {
  background-color: #FFD700; /* Color del indicador activo */
}

/* Caption del carrusel */
.carousel-caption {
  bottom: 20px;
}