.about-us-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
  }
  
  .about-us-card {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .team-members {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-color: #e0e0e0; /* Color gris claro */
    color: #333; /* Texto oscuro */
  }
  
  mat-card-title, mat-card-subtitle {
    color: #000; /* Color negro para el título y subtítulo */
  }
  
  mat-card-content p {
    color: #444; /* Texto ligeramente más oscuro para el contenido */
  }
  
  img {
    border-radius: 10px; /* Borde redondeado para la imagen */
    margin-bottom: 15px; /* Añadir margen debajo de la imagen */
    border: 2px solid #d1d1d1; /* Borde elegante alrededor de la imagen */
  }
  