.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    width: 300px;
    background-color: #1e1e1e; /* Fondo oscuro elegante */
    color: #f1f1f1; /* Texto claro */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5); /* Sombra elegante */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-10px); /* Efecto hover */
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8); /* Sombra más pronunciada */
    }
  
    mat-card-header {
      border-bottom: 1px solid #444;
      margin-bottom: 10px;
  
      mat-card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #f1f1f1;
      }
  
      mat-card-subtitle {
        font-size: 1.2rem;
        color: #d3d3d3;
      }
    }
  
    img {
      border-radius: 10px;
      height: 200px;
      object-fit: cover;
    }
  
    mat-card-content {
      p {
        font-size: 1.1rem;
        color: #dcdcdc;
        margin-top: 10px;
      }
    }
  }
  