.form-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.invoice-header {
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.full-width {
  width: 100%;
}

.total-container {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}






.elegant-card {
  border-radius: 10px;
  background-color: #f8f9fa; /* Fondo suave */
  transition: transform 0.2s ease-in-out;
}

.elegant-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Título alineado a la izquierda */
.elegant-card h4 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 0;
}

/* Línea dorada cubriendo todo el ancho de la tarjeta */
.full-width-divider {
  border: none;
  border-top: 2px solid #d4af37;
  width: 100%; /* Ahora cubre todo el ancho de la tarjeta */
  margin-top: 5px; /* Separa un poco del título */
}

/* Fondo dorado claro para número de venta y total */
.bg-light-gold {
  background-color: #f9e6b3; /* Color dorado claro */
}

.text-success {
  color: #28a745 !important;
}
.custom-heading {
  font-size: 1.05rem; /* Tamaño entre h4 y h5 (h5 = 1.125rem, h4 = 1.5rem) */
  font-family: 'Poppins', sans-serif;
  margin: 0; /* Ajusta el margen si es necesario */
}