<app-banner [title]="'DATA_DELETION.TITLE'" [pageName]="'DATA_DELETION.TITLE'"></app-banner>

<div class="data-deletion-container">
    <h1>{{ 'DATA_DELETION.TITLE' | translate }}</h1>
    <p>{{ 'DATA_DELETION.INTRO' | translate }}</p>
  
    <h2>{{ 'DATA_DELETION.REQUEST_TITLE' | translate }}</h2>
    <p>{{ 'DATA_DELETION.REQUEST_DESC' | translate }}</p>
    <ul>
      <li>{{ 'DATA_DELETION.REQUEST_NAME' | translate }}</li>
      <li>{{ 'DATA_DELETION.REQUEST_EMAIL' | translate }}</li>
      <li>{{ 'DATA_DELETION.REQUEST_DESCRIPTION' | translate }}</li>
    </ul>
  
    <h2>{{ 'DATA_DELETION.PROCESS_TITLE' | translate }}</h2>
    <p>{{ 'DATA_DELETION.PROCESS_DESC' | translate }}</p>
  
    <h2>{{ 'DATA_DELETION.CONSIDERATIONS_TITLE' | translate }}</h2>
    <p>{{ 'DATA_DELETION.CONSIDERATIONS_DESC' | translate }}</p>
    <ul>
      <li>{{ 'DATA_DELETION.CONSIDERATIONS_ACCESS' | translate }}</li>
      <li>{{ 'DATA_DELETION.CONSIDERATIONS_RETENTION' | translate }}</li>
    </ul>
  
    <p>{{ 'DATA_DELETION.CONTACT' | translate }}</p>
  </div>