<div class="container my-5 " style="height: 700px;">
  <div class="row align-items-center">
    <!-- Sección de texto -->
    <div class="col-md-6">
      <h2 class="mb-3">Bienvenido a Chevalier Barbería</h2>
      <p>En Chevalier, ofrecemos una experiencia de barbería premium. Desde cortes de cabello clásicos y modernos hasta
        perfilados de barba y tratamientos faciales, nos dedicamos a hacer que nuestros clientes se vean y se sientan lo
        mejor posible. Nuestros barberos altamente capacitados están comprometidos con la perfección y brindan un
        servicio personalizado en cada visita. ¡Ven a visitarnos y descubre la verdadera elegancia en el cuidado
        masculino!</p>
    </div>

    <!-- Sección de carrusel con videos de TikTok -->
    <div class="col-md-6 h-100">
      <!-- Barra de puntos en la parte superior -->
      <div class="dots-container">
        <div *ngFor="let videoId of videoIds; let i = index" 
             class="dot" 
             [class.active]="i === activeIndex" >
        </div>
      </div>

      <div id="tiktokCarousel" class="carousel slide" data-bs-ride="carousel" (slide.bs.carousel)="onSlideChange($event)">
        <div class="carousel-inner">
          <div *ngFor="let videoId of videoIds; let i = index" [class.active]="i === 0" class="carousel-item">
            <!-- Condicional para mostrar o no el componente app-tiktok-video -->
            <app-tiktok-video *ngIf="showVideo[i]" [videoId]="videoId"></app-tiktok-video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>