<app-banner [title]="'TERMS.TITLE'" [pageName]="'TERMS.TITLE'"></app-banner>
<div class="terms-container">
    <h1>{{ 'TERMS.TITLE' | translate }}</h1>
  
    <section>
      <h2>{{ 'TERMS.SECTION_1_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_1_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_2_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_2_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_3_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_3_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_4_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_4_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_5_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_5_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_6_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_6_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_7_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_7_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_8_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_8_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_9_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_9_DESCRIPTION' | translate }}</p>
    </section>
  
    <section>
      <h2>{{ 'TERMS.SECTION_10_TITLE' | translate }}</h2>
      <p>{{ 'TERMS.SECTION_10_DESCRIPTION' | translate }}</p>
    </section>
  </div>