<footer class="footer-section">
    <div class="footer-container">
      <!-- Logo y nombre de la empresa -->
      <div class="footer-column">
        <img src="img/cara.png" alt="Logo" class="footer-logo" />
        <h3>CHEVALIER</h3>
      </div>
  
      <!-- Información de contacto -->
      <div class="footer-column">
        <h4>{{ 'FOOTER.CONTACT_INFO' | translate }}</h4>
        <p>{{ 'FOOTER.PHONE' | translate }}: 0984287409</p>
        <p>{{ 'FOOTER.ADDRESS' | translate }}: Luis Cordero 4-09 y Sucre</p>
        <p>{{ 'FOOTER.EMAIL' | translate }}: contacto&#64;chevalier.com</p>
      </div>
  
      <!-- Enlaces útiles -->
      <div class="footer-column">
        <h4>{{ 'FOOTER.LINKS' | translate }}</h4>
        <ul>
          <li><a href="#">{{ 'FOOTER.HOME' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.SERVICES' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.PRODUCTS' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.CONTACT_US' | translate }}</a></li>
        </ul>
      </div>
  
      <!-- Redes sociales -->
      <div class="footer-column">
        <h4>{{ 'FOOTER.SOCIAL' | translate }}</h4>
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>instagram</mat-icon></a>
        <a href="#"><mat-icon>tiktok</mat-icon></a>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright">
      <p>&copy; 2024 CHEVALIER. {{ 'FOOTER.COPYRIGHT' | translate }}.</p>
    </div>
  </footer>