<footer class="footer-section">
    <div class="footer-container">
      <!-- Logo y nombre de la empresa -->
      <div class="footer-column">
        <img src="img/caranav.png" alt="Logo" class="footer-logo" />
        <h3>CHEVALIER</h3>
      </div>
  
      <!-- Información de contacto -->
      <div class="footer-column">
        <h4>{{ 'FOOTER.CONTACT_INFO' | translate }}</h4>
        <p>{{ 'FOOTER.PHONE' | translate }}: {{personalDAta.phone}}</p>
        <p>{{ 'FOOTER.ADDRESS' | translate }}: {{personalDAta.adress}}</p>
        <p>{{ 'FOOTER.EMAIL' | translate }}: {{personalDAta.email}}</p>
      </div>
  
      <!-- Enlaces útiles -->
      <div class="footer-column">
        <h4>{{ 'FOOTER.LINKS' | translate }}</h4>
        <ul>
          <li><a routerLink="">{{ 'NAVBAR.HOME' | translate  }}</a></li>
          <li><a routerLink="/aboutus">{{ 'NAVBAR.ABOUT' | translate}}</a></li>
          <li><a routerLink="/ourservices">{{ 'NAVBAR.SERVICES' | translate }}</a></li>
          <li><a routerLink="/products">{{ 'NAVBAR.PRODUCTS' | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>{{ 'FOOTER.LEGAL.NAME' | translate }}</h4>
        <ul>
          <li><a routerLink="/terms-of-service">{{ 'FOOTER.LEGAL.TERMS_OF_SERVICE' | translate }}</a></li>
          <li><a routerLink="/privacy-policy">{{ 'FOOTER.LEGAL.PRIVACY_POLICY' | translate }}</a></li>
          <li><a routerLink="/terms-of-service">{{ 'FOOTER.LEGAL.DATA_DELETION' | translate }}</a></li> 
        </ul>
      </div>
      <!-- Redes sociales -->
      <div class="footer-column">
        <h4>{{ 'FOOTER.SOCIAL' | translate }}</h4>
        <a [href]="socialLinks.facebook" target="_blank"><mat-icon>facebook</mat-icon></a>
        <a [href]="socialLinks.instagram" target="_blank"><mat-icon>instagram</mat-icon></a>
        <a  [href]="socialLinks.tiktok" target="_blank"><mat-icon>tiktok</mat-icon></a>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright">
      <p>&copy; 2024 CHEVALIER. {{ 'FOOTER.COPYRIGHT' | translate }}.</p>
    </div>
  </footer>