<app-banner [title]="'PRIVACY_POLICY.TITLE'" [pageName]="'PRIVACY_POLICY.TITLE'"></app-banner>
<div class="privacy-policy-container">
    <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
  
    <p>{{ 'PRIVACY_POLICY.INTRO' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_1.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_1.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_2.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_2.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_3.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_3.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_4.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_4.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_5.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_5.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_6.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_6.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_7.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_7.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_8.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_8.CONTENT' | translate }}</p>
  
    <h2>{{ 'PRIVACY_POLICY.SECTION_9.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_9.CONTENT' | translate }}</p>
  </div>