.privacy-policy-container {
    margin: 20px auto; /* Margen superior e inferior de 20px, centrado horizontalmente */
    padding: 20px;
    max-width: 800px; /* Limitar el ancho del contenedor para mejor legibilidad */
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
  }
  
  h2 {
    color: #2980b9;
    font-size: 1.5rem;
  }
  
  p {
    color: #7f8c8d;
    line-height: 1.6;
  }
  