<div *ngIf="hasRole(['ADMIN', 'SUPERVISOR']) && isDataLoaded" class="row">
    <div class="col-sm-6">
      <app-custom-chart 
        [data]="getSemanaSalesData()"
        [type]="'line'"
        [title]="'Ventas semana actual'"
        [seriesName]="'Ventas ($)'"
      ></app-custom-chart>
    </div>
    <div class="col-sm-6">
      <app-custom-chart 
        [data]="getSemanaAnteriorData()"
        [type]="'line'"
        [title]="'Ventas semana anterior'"
        [seriesName]="'Ventas ($)'"
      ></app-custom-chart>
    </div>
  </div>