<app-banner *ngIf="isCommentsPage()" [title]="'NAVBAR.COMMENTS'" [pageName]="'NAVBAR.COMMENTS'"></app-banner>
<div class="container-fluid mt-4 custom-container">
  <section class="feedback-section">
    <h2>{{ 'FEEDBACK.TITLE' | translate }}</h2>
  
    <div class="feedback-container">
      <div class="feedback-description">
        <div class="feedback-left">
          <p>{{ 'FEEDBACK.DESCRIPTION' | translate }}</p>
          <p>{{ 'FEEDBACK.DETAILS' | translate }}</p>
          <p>{{ 'FEEDBACK.DETAILS1' | translate }}</p>
        </div>
      </div>
  
      <form id="demo-form"  >
        <label for="comments">{{ 'FEEDBACK.LABEL' | translate }}</label>
        <textarea id="comments" placeholder="{{ 'FEEDBACK.PLACEHOLDER' | translate }}"></textarea>
        <p class="anonymous-message">{{ 'FEEDBACK.ANONYMOUS_MESSAGE' | translate }}</p>
        <button (click)="onSubmit()" class="g-recaptcha" data-sitekey="6Le83VUqAAAAAAdwGCtIGFF5QTEc82FNsFYWIbKt">
          Submit
        </button>
        <!-- <button class="g-recaptcha"
                data-sitekey="6Le83VUqAAAAAAdwGCtIGFF5QTEc82FNsFYWIbKt"
                data-callback="onSubmit"
                data-action="submit">
          {{ 'FEEDBACK.SUBMIT' | translate }}
        </button> -->
      </form>
    </div>
  </section>
</div>