<app-banner [title]="'TERMSSERVICE.TERMS_TITLE'" [pageName]="'TERMSSERVICE.TERMS_TITLE'"></app-banner>
<div class="container-fluid mt-4 custom-container">
<div class="terms-section">
    <h3>1. {{ 'TERMSSERVICE.TERM_1_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_1_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>2. {{ 'TERMSSERVICE.TERM_2_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_2_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>3. {{ 'TERMSSERVICE.TERM_3_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_3_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>4. {{ 'TERMSSERVICE.TERM_4_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_4_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>5. {{ 'TERMSSERVICE.TERM_5_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_5_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>6. {{ 'TERMSSERVICE.TERM_6_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_6_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>7. {{ 'TERMSSERVICE.TERM_7_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_7_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>8. {{ 'TERMSSERVICE.TERM_8_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_8_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>9. {{ 'TERMSSERVICE.TERM_9_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_9_DESC' | translate }}</p>
  </div>
  
  <div class="terms-section">
    <h3>10. {{ 'TERMSSERVICE.TERM_10_TITLE' | translate }}</h3>
    <p>{{ 'TERMSSERVICE.TERM_10_DESC' | translate }}</p>
  </div>
</div>