<div class="topbar">
    <div class="topbar-left">
      <button (click)="toggleSidebar()" class="icon-btn">
        <i class="fas fa-bars"></i> <!-- Icono para minimizar sidebar -->
      </button>
    </div>
    <div class="topbar-right">
      <button class="icon-btn">
        <i class="fas fa-bell"></i> <!-- Icono de notificaciones -->
      </button>
      <button (click)="logout()" class="icon-btn">
        <i class="fas fa-sign-out-alt"></i> <!-- Icono de cerrar sesión -->
      </button>
    </div>
  </div>