 
    <div class="responsive-background">
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank">
          <img src="/img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="/img/Instagram.png" alt="Twitter" />
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="/img/YouTube.png" alt="Instagram" />
        </a>
        <a href="https://linkedin.com" target="_blank">
          <img src="/img/TikTok.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
 
  