 
    <div class="responsive-background">
      <div class="social-icons">
        <a [href]="socialLinks.facebook"  target="_blank">
          <img src="/img/Facebook.png" alt="Facebook" />
        </a>
        <a [href]="socialLinks.instagram" target="_blank">
          <img src="/img/Instagram.png" alt="Instagram" />
        </a>
        <a [href]="socialLinks.youtube" target="_blank">
          <img src="/img/Youtube.png" alt="Youtube" />
        </a>
        <a [href]="socialLinks.tiktok" target="_blank">
          <img src="/img/TikTok.png" alt="TikTok" />
        </a>
      </div>
    </div>
 
  